body{
   font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	margin: 20px;
	padding:0px;
	line-height: 20px;
}

div#wrapper {
    margin-left:auto;
    margin-right:auto;
    max-width:1000px;
    display:none;
}

.canvaswrapper {
    position:relative;
    width:800;
    height:800;
}

.tip {
    font-size: 0.85em;
    position:absolute;
    background-color:#b3d7ff;
    left:-200px;
    top:100px;
    display:none;
}

.tip table, .tip th, .tip td {
   font-size: 0.85em; 
    margin:0px;
    padding:2px;
}

.close {
    position:absolute;
    top:1px;
    right:1px;
    border: 1px solid black;
    cursor: pointer;
}

table {
    font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	margin:2px;
	padding:2px;
}

#inputlocs, #riseSetInputlocs, #animationSetup1, #animationSetup2 {
    padding:10px;
    border: 1px solid black;
    display: none; 
}

.input {
    padding:10px;
    border: 1px solid black;
    display: none;
}

#riseSetArea, #planetPosArea {
    padding:10px;
    display:none;
}

.RSMultiRaDec {
    display:none;
}

canvas#legend {
    border:1px solid black;
    padding:10px;
    margin-left: 150px;
    display:block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}
		
h1 {
    font-size:28px;
    font-weight:bold;
	margin-left: 0px;
	margin-top: 8px;
	line-height: 30px;
}
	
h2 {
	font-size: 24px;
	margin-left: 0px;
	margin-top:5px;
	line-height: 24px;
}
	
h3 {
	font-size: 20px;
	margin-left: 0px;
	margin-top:10px;
}
	
h4 {
	font-size: 18px;
	margin-left: 0px;
	margin-top:10px;
}
	
p {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
}

ul {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin: 10px 0px 0px 16px;
	padding:2px;
}
	
li {
  margin-bottom: 8px;
  }

.greek {
    font-family: serif;
    font-size: 130%;
}

.animate {
    margin-left:170px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.control {
    display:block;
}

.control button {
    font:12px/16px verdana, arial, helvetica, sans-serif;
}

.control button.active {
    background-color: #81F7F3;
}

input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.menu {
    background-color: #1a8cff;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 190px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

button.menu.active, button.menu:hover {
    background-color: #008060;
}

button.setupAnimate, button.controlAnimate {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.menu:disabled, button.setupAnimate:disabled, button.controlAnimate:disabled {
    opacity:0.1;
    cursor: not-allowed;
}

/* for select region */
table.selectRegion {
    border:none;
}

.selectRegion th, .selectRegion td {
    padding:5px;
    text-align:left;
    border:none;
}

.link {
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}